
<% provide(:title, "コメント") %>
<div class="field">
  <%= form_for(@tweet) do |f| %>
    <%= f.label "らべる" %>
    <%= f.text_area :comment %>
    <%= f.text_area :content, readonly: true, value: @tweet_text %>
    <%= f.file_field :picture %>
    <%= f.submit %>
  <% end %>
</div>
