
<% provide(:title, "コメント") %>
<div class="field">
  <%= form_for(@tweet) do |f| %>
    <%= f.label "らべる" %>
    <%= f.text_area :comment %>
    <%= f.text_area :content, readonly: true, value: @tweet_text %>

    <%= f.submit %>

    <label><%= f.radio_button :image, asset_path("test0.png") %><%= image_tag asset_path("test0.png") %></label>
    <label><%= f.radio_button :image, asset_path("test1.png") %><%= image_tag asset_path("test1.png") %></label>
    <label><%= f.radio_button :image, asset_path("test2.png") %><%= image_tag asset_path("test2.png") %></label>
    <label><%= f.radio_button :image, asset_path("test3.png") %><%= image_tag asset_path("test3.png") %></label>
 
  <% end %>

